// 1. Portfolio Fonts : Montserrat fonts [from google fonts]
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$my-font-family: "Montserrat", sans-serif;

// 2. Portfolio Colors and gradients

$color-primary: #ff5f00;
$color-secondary: #083ac6;
$color-dark: #2b344d;
$color-light: #f4f5fa;

// MIXINS

@mixin flexDisplay($justify, $aligns, $gaps, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aligns;
  gap: $gaps;
}
@mixin unipad($pad) {
  padding: $pad $pad $pad $pad;
}

@mixin unimag($pad) {
  margin: $pad $pad $pad $pad;
}

@mixin myButtons($color) {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in-out;

  a {
    width: fit-content;
    text-decoration: none;
    text-align: center;
    max-lines: 1;
    overflow: hidden;
    color: $color-light;
    margin: 0 auto;
    font-weight: 300;
    background-color: $color;
    border-radius: 1rem;
    @include unipad(10px);
  }

  &:hover {
    color: $color-primary !important;
  }
}

// LAYOUTS
.flexRowColumn {
  @include flexDisplay(space-between, center, 3rem, row);
}

.flexRowColumnReversed {
  @include flexDisplay(space-between, center, 3rem, row);
}

.flexRowMaintain {
  @include flexDisplay(none, start, 24px, row);
}

.buttonPrimary {
  @include myButtons($color-primary);
}

.buttonSecondary {
  @include myButtons($color-secondary);
}

// STANDARD CLASSES AND REUSABLES

.bucket {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem auto;
}

.major-div {
  max-width: 40%;
}

.heading-1 {
  font-size: 90px;
  font-weight: 600;
}

.paragraph {
  font-size: 20px;
  font-weight: 4 00;
}

.colored {
  color: $color-primary;
}

// SETTINGS
* {
  //hide scrollbars
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  font-weight: 400;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  font-family: $my-font-family;
  background-color: $color-light;
}
section {
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
  @include flexDisplay(center, center, 5px, column);
}

.line::before {
  content: "";
  max-width: 50px;
  height: 12rem;
  color: $color-primary;
  border-radius: 2rem;
  background-color: #ff5f00;
}

.spaciously {
  min-height: 150px;
}

.home {
  background-image: url("./Res/Web_Images/home_bg.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  color: $color-light;

  .buttonList {
    max-width: fit-content !important;
  }
}

.pageTag {
  @include flexDisplay(none, center, 5px, row);
  h3 {
    @include unipad(0px);
    margin-top: 16px;
  }
}

#program {
  @include flexDisplay(center, center, 5px, column);
}
.program-data-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pd-grid {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    margin-top: 4rem;
    place-items: center;
  }
}

.colors-data-basket {
  @include flexDisplay(space-between, center, 3rem, row);
}

.parties-data-basket {
  @include flexDisplay(space-between, center, 3rem, row);
}

.foot-note {
  background-color: white;
  color: $color-dark;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include flexDisplay(center, center, 5px, column);
  min-height: 60vh;
  .contact-section {
    @include flexDisplay(space-around, center, 5px, row);

    .contact-grid {
      @include flexDisplay(space-around, center, 5px, row);
      min-width: 60vw;
    }
  }
}





//Navigation : header styling

header {
  color: $color-light;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: start; 
  padding: 10px 0rem 10px 0rem; 
  z-index: 700;
  height:80px;
  @include flexDisplay(center, center, 0, column);

  .header-data-basket {
    @include flexDisplay(space-between, center, 1rem, row);
    width: 100%;

    .brand{
      @include flexDisplay(center, center, 4px, row);
      .brandc-image{
        @include unipad(6px);
        border: 1px solid $color-light;
        border-radius: 50%;
      }
    }
  }

  // item styles
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-nav {
    letter-spacing: 0.1rem;
    transition: 0.7s ease-in-out;
  }

  .nav-link {
    color: $color-light !important; 
    font-weight: 400;
    position: relative;
    margin-right: 20px;
    margin-left: 10px;
  }
  .active-item {
    border-bottom: 1px solid $color-light;
    font-weight: 600;
  }

  .nav-link:hover {
    transition: 0.7s ease-in-out;
    border-bottom: 1px solid $color-light;
  }

  //manage the hamburger
  .navbar-toggler {
    width: 60px;
    height: 30px;
    position: relative;
    transition: 0.5s ease-in-out;
    overflow: hidden;

    span {
      margin: 0;
      padding: 0;
    }

    .toggler-icon {
      display: block;
      position: absolute;
      height: 20px;
      width: 3px;
      background: $color-secondary;
      border-radius: 1px;
      opacity: 1;
      left: 10px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      border-radius: 1px;
    }
  }

  //clear out all default decorative button styles
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
  }

  /* Color of 3 lines */

  .navbar-toggler.collapsed .toggler-icon {
    background-color: $color-secondary;
  }

  /* when navigation is clicked */

  .navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
  }

  .navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
  }

  /* State when the navbar is collapsed */

  .navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    left: 10px;
    margin-left: 10px;
    margin-top: 0px;
    filter: alpha(opacity=0);
  }

  .navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    left: 0px;
    margin-left: 0px;
    transform: rotate(0deg);
    margin-top: 0px;
  }
}