@media screen and (max-width: 900px) {
  // 1. Portfolio Fonts : Montserrat fonts [from google fonts]
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

  $my-font-family: "Montserrat", sans-serif;

  // 2. Portfolio Colors and gradients

  $color-primary: #ff5f00;
  $color-secondary: #083ac6;
  $color-dark: #2b344d;
  $color-light: #f4f5fa;

  // MIXINS

  @mixin flexDisplay($justify, $aligns, $gaps, $direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aligns;
    gap: $gaps;
  }
  @mixin unipad($pad) {
    padding: $pad $pad $pad $pad;
  }

  @mixin unimag($pad) {
    margin: $pad $pad $pad $pad;
  }

  @mixin myButtons($color) {
    width: fit-content;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;

    a {
      width: fit-content;
      text-decoration: none;
      text-align: center;
      max-lines: 1;
      overflow: hidden;
      color: $color !important;
      margin: 0 auto;
      font-weight: 400;
    }

    &:hover {
      color: $color-primary !important;
    }
  }

  // LAYOUTS
  .flexRowColumn {
    @include flexDisplay(center, center, 3rem, column);
  }

  .flexRowColumnReversed {
    @include flexDisplay(center, center, 3rem, column-reverse);
  }

  .flexRowMaintain {
    @include flexDisplay(none, start, 24px, row);
  }

  .buttonPrimary {
    @include myButtons($color-primary);
  }

  .buttonSecondary {
    @include myButtons($color-secondary);
  }

  // STANDARD CLASSES AND REUSABLES

  .bucket {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem auto;
  }

  .major-div {
    max-width: 100%;
  }

  .heading-1 {
    font-size: 40px;
    font-weight: 600;
  }

  .paragraph {
    font-size: 16px;
    font-weight: 4 00;
  }

  .colored {
    color: $color-primary;
  }

  // SETTINGS
  * {
    //hide scrollbars
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  html,
  body {
    font-weight: 400;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    font-family: $my-font-family;
    background-color: $color-light;
  }
  section {
    width: 100vw;
    overflow: hidden;
    min-height: 70vh;
    @include flexDisplay(center, center, 5px, column);
  }

  .line::before {
    content: "";
    max-width: 50px;
    height: 12rem;
    color: $color-primary;
    border-radius: 2rem;
    background-color: #ff5f00;
  }

  .spaciously {
    min-height: 2rem;
  }

  .home {
    background-image: url("../Res/mobile/home_bg.png");
    background-size: 100vw 70vh;
    background-repeat: no-repeat;
    place-items: center;
    color: $color-light;
    text-align: center;

    .btn-list {
      position: relative;
      bottom: 0;
      @include unipad(10px);
      margin-top: 6rem;
    }
  }

  .pageTag {
    @include flexDisplay(center, center, 5px, row);
    padding-bottom: 2rem;
    h3 {
      @include unipad(10px);
      margin-top: 16px;
    }
  }

  #program {
    @include flexDisplay(center, center, 5px, column);
  }
  .program-data-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pd-grid {
      display: grid;
      grid-template-columns: repeat(2, 50vw);
      margin-top: 4rem;

      place-items: center;
      text-align: center;
    }
  }

  .colors-data-basket {
    @include flexDisplay(space-between, center, 3rem, column-reverse);
    text-align: center;
  }

  .parties-data-basket {
    @include flexDisplay(space-between, center, 3rem, column);
    text-align: center;
  }

  .foot-note {
    background-color: $color-dark;
    color: $color-light;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include flexDisplay(center, center, 5px, column);
    min-height: 60vh;
    .contact-section {
      @include flexDisplay(space-around, center, 5px, column);

      .contact-grid {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        margin-top: 4rem;

        place-items: center;
        text-align: center;
      }
    }
  }
}
